pyttsx3
pygame
speechrecognition
gTTS
openai
requests
wikipedia
googletrans==4.0.0-rc1
googlesearch-python
beautifulsoup4
google-api-python-client
oauth2client
tinydb
python-docx
PyPDF2
opencv-python
vosk
llama-cpp-python
pyjokes
psutil
cryptography
pvporcupine
